@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
  margin-bottom: 0;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
.container {
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -200px;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-group label {
  flex-basis: 28%;
}

.input-group input,
.input-group textarea {
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: white;
  font-size: 16px;
}

::placeholder {
  font-size: 14px;
}

form button {
  /* background: #141a34; */
  color: #fff;
  border-radius: 4px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
  font-size: 500;
}

.input-group span {
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: red;

}

#submit-error {
  color: red;
}

/* careers list */
.careers>a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}

.careers>a:hover p {
  color: var(--primary);
}

.careers p {
  margin: 0;
}

.careers>a p:last-child {
  font-size: 0.8em;
  color: #bbb;
}

/* careers details */
.career-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}

.breadcrumbs>* {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #ddd;
}


footer {
  background: transparent;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}


/* Home */
.headerer {
  width: 100%;
  height: 100vh;
  background-image: url(./assets/bg3.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100vh;
  background: rgba(0, 2, 63, 0.9);
  text-align: center;
}

.sidebar img {
  width: 22px;
  display: block;
  margin: 50px auto 80px;
  cursor: pointer;

}

.social {
  width: 100%;
  height: 50%;
  background: #ed383d;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.social img {
  width: 30px;
  margin: 15px;
}

.container {
  background: rgba(0, 2, 63, 0.9);
  width: 53%;
  height: 100vh;
  position: relative;

}

.container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  border: 5px solid #ed383d;
  cursor: pointer;
}

.shop {
  width: 22px;
  margin: 10px 60px;
  cursor: pointer;
}

.play {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 140px;
  cursor: pointer;
}

.info {
  padding: 50px 18%;
  color: #fff;

}

.info h3 {
  font-size: 42px;
  line-height: 60px;
  font-weight: normal;
}

.info h1 {
  font-size: 92px;
  font-weight: normal;
  margin-bottom: 35px;

}

.info p {
  color: #999;
  font-family: sans-serif;
  font-size: 11px;
  line-height: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;

}

.row .line {
  background: #999;
  height: 2px;
  width: 80%;
  border-radius: 2px;
}

.row .line span {
  background: #ed383d;
  height: 100%;
  width: 50%;
  display: block;
}

.row h2 {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 20px;
}

.indicator {
  max-width: 220px;
  margin: 100px 0 50px;
}